.github
.gitattributes
.vscode
.yarn
.yarnrc.yml
.yarn.lock
.nvmrc

.eslintrc.js
.prettierrc
.prettierignore

.mise.toml

tsconfig.json
vitest.config.mts

src
node_modules
CONTRIBUTING.md
parliamentary-diplomatic-english-dictionary.pdf
