openapi: 3.0.0
info:
  title: 국회 Open API - 276개 API
  description: 276개 국회 API의 OpenAPI 스펙 (샘플 응답 포함)
  version: 1.0.0
  contact:
    name: 국회 Open API
    url: https://open.assembly.go.kr/
  license:
    name: 공공누리
    url: https://www.kogl.or.kr/
servers:
- url: https://open.assembly.go.kr/portal/openapi
  description: 국회 Open API 서버
paths:
  /ndkuweviadcqkbjdl:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: COMP_MAIN_TITLE
      in: query
      required: false
      description: 제목
      schema:
        type: string
      example: COMP_MAIN_TITLE='제목 검색어'  (예시) COMP_MAIN_TITLE=박
    - name: COMP_CONTENT
      in: query
      required: false
      description: 내용
      schema:
        type: string
      example: ''
    get:
      operationId: get_NATV_뉴스_의장단
      summary: NATV 뉴스_의장단
      description: '**NATV 뉴스_의장단**


        요청제한: 제한없음


        분류 체계: 주제별 공개>언론·미디어·국회일정


        공개일자: 2019-11-19


        최종 수정일자: 2025-07-02


        원본시스템: 국회방송


        공개주기: 수시


        공개시기: 상시


        검색태그: NATV,뉴스,의장단


        설명: 국회방송국에서 제공하는 "의장단" 뉴스 정보를 제공합니다.


        API ID: OK3DIS001059MR19626'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        COMP_MAIN_TITLE:
                          type: string
                          description: 제목
                        REG_DATE:
                          type: string
                          description: 등록일자
                        COMP_CONTENT:
                          type: string
                          description: 내용
                        LINK_URL:
                          type: string
                          description: 상세보기
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nbicgazsalnfamoyp:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: RPT_TITLE
      in: query
      required: false
      description: 제목
      schema:
        type: string
      example: RPT_TITLE='제목 검색어'  (예시) RPT_TITLE=제20대
    - name: STND_DT
      in: query
      required: false
      description: 기준일자
      schema:
        type: string
      example: STND_DT='기준일자 검색어'  (예시) STND_DT=2019
    - name: WRT_NM
      in: query
      required: false
      description: 작성자
      schema:
        type: string
      example: WRT_NM='국제국'
    - name: UNIT_NM
      in: query
      required: false
      description: 대
      schema:
        type: string
      example: UNIT_NM='대 검색어'  (예시) UNIT_NM=제20대
    get:
      operationId: get_의원친선협회_임회원_명단
      summary: 의원친선협회 임·회원 명단
      description: '**의원친선협회 임·회원 명단**


        요청제한: 제한없음


        분류 체계: 주제별 공개>의회외교


        공개일자: 2019-10-15


        최종 수정일자: 2025-06-10


        공개주기: 수시


        공개시기: 내용 변동시


        검색태그: 친선,임원,회원


        설명: 국회의원친 협회 임원,회원 명단 정보를 제공합니다.


        API ID: OVUY5B0009241I13320'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        RPT_NO:
                          type: string
                          description: 다운로드
                        RPT_TITLE:
                          type: string
                          description: 제목
                        STND_DT:
                          type: string
                          description: 기준일자
                        WRT_NM:
                          type: string
                          description: 작성자
                        UNIT_CD:
                          type: string
                          description: 대별코드
                        UNIT_NM:
                          type: string
                          description: 대
                        FILE_ID:
                          type: string
                          description: 파일ID
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /npryvxppapmxgwpxw:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: YR
      in: query
      required: false
      description: 년도
      schema:
        type: string
      example: YR='2020'
    - name: INST_CD
      in: query
      required: false
      description: 기관
      schema:
        type: string
      example: INST_CD='기관 검색어'  (예시) INST_CD=국회입법
    - name: SN
      in: query
      required: false
      description: 일련번호
      schema:
        type: string
      example: ''
    - name: IND_NM
      in: query
      required: false
      description: 사건명
      schema:
        type: string
      example: ''
    - name: RSLN_DT
      in: query
      required: false
      description: 의결(재결)일
      schema:
        type: string
      example: RSLN_DT='의결(재결)일 검색어'  (예시) RSLN_DT=계류중
    - name: OJ_DEMD_PN
      in: query
      required: false
      description: 피청구인
      schema:
        type: string
      example: OJ_DEMD_PN='피청구인 검색어'  (예시) OJ_DEMD_PN=국회도서
    - name: ORDG_RSON
      in: query
      required: false
      description: 주문내용
      schema:
        type: string
      example: ORDG_RSON='주문내용 검색어'  (예시) ORDG_RSON=취지
    - name: DEMD_MEAN
      in: query
      required: false
      description: 청구취지
      schema:
        type: string
      example: ''
    - name: JUD_RSLT_MTH
      in: query
      required: false
      description: 이유(심판결과요지)
      schema:
        type: string
      example: ''
    get:
      operationId: get_정보공개청구_행정심판_결과현황
      summary: 정보공개청구 행정심판 결과현황
      description: '**정보공개청구 행정심판 결과현황**


        요청제한: 제한없음


        분류 체계: 주제별 공개>국민참여>정보공개제도


        공개일자: 2019-10-01


        최종 수정일자: 2024-04-09


        공개주기: 매년


        검색태그: 행정심판,심판,정보공개불복


        설명: 국회 정보공개 관련 행정심판 청구현황 및 심판결과를 제공합니다.


        API ID: ORRHLL000916DN12489'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        YR:
                          type: string
                          description: 년도
                        INST_CD:
                          type: string
                          description: 기관
                        SN:
                          type: string
                          description: 일련번호
                        IND_NM:
                          type: string
                          description: 사건명
                        RSLN_DT:
                          type: string
                          description: 의결(재결)일
                        OJ_DEMD_PN:
                          type: string
                          description: 피청구인
                        ORDG_RSON:
                          type: string
                          description: 주문내용
                        DEMD_MEAN:
                          type: string
                          description: 청구취지
                        JUD_RSLT_MTH:
                          type: string
                          description: 이유(심판결과요지)
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /ALLNANETPBLM:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: MTR_DIV
      in: query
      required: false
      description: 발간자료구분
      schema:
        type: string
      example: MTR_DIV='발간자료구분 검색어'  (예시) MTR_DIV=최신외국
    - name: MTR_TTL
      in: query
      required: false
      description: 발간자료제목
      schema:
        type: string
      example: MTR_TTL='발간자료제목 검색어'  (예시) MTR_TTL=법의관
    get:
      operationId: get_국회도서관_제공_자료_통합_API
      summary: 국회도서관 제공 자료 통합 API
      description: '**국회도서관 제공 자료 통합 API**


        요청제한: 제한없음


        분류 체계: 보고서ㆍ발간물


        공개일자: 2023-12-01


        최종 수정일자: 2025-07-02


        원본시스템: 국회홈페이지


        공개주기: 수시


        검색태그: 도서관,제공,통합,API


        설명: 국회도서관 제공 자료 통합 API 의 정보를 제공합니다.


        API ID: OOWY4R001216HX11443'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        MTR_DIV:
                          type: string
                          description: 발간자료구분
                        MTR_TTL:
                          type: string
                          description: 발간자료제목
                        WRT_DT:
                          type: string
                          description: 작성일
                        LINK_URL:
                          type: string
                          description: 링크URL
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nqbeopthavwwfbekw:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: HG_NM
      in: query
      required: false
      description: 의원이름(한글)
      schema:
        type: string
      example: HG_NM='의원이름(한글) 검색어'  (예시) HG_NM=황희
    - name: MONA_CD
      in: query
      required: false
      description: 국회의원코드
      schema:
        type: string
      example: MONA_CD='ZYP7962W'
    - name: PROFILE_UNIT_CD
      in: query
      required: true
      description: 경력대수코드
      schema:
        type: string
      example: PROFILE_UNIT_CD='100021'
    get:
      operationId: get_역대_국회의원_위원회_경력
      summary: 역대 국회의원 위원회 경력
      description: '**역대 국회의원 위원회 경력**


        요청제한: 제한없음


        분류 체계: 국회의원>역대 국회 정보


        공개일자: 2021-01-08


        최종 수정일자: 2025-07-02


        원본시스템: 인적자원시스템


        공개주기: 수시


        공개시기: 상시


        검색태그: 의원,위원회,경력


        설명: 역대 국회의원별 위원회 경력 정보를 제공합니다.


        API ID: OXJNQM001195IT17281'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        PROFILE_CD:
                          type: string
                          description: 구분코드
                        PROFILE_NM:
                          type: string
                          description: 구분
                        HG_NM:
                          type: string
                          description: 의원이름(한글)
                        HJ_NM:
                          type: string
                          description: 의원이름(한자)
                        FRTO_DATE:
                          type: string
                          description: 활동기간
                        PROFILE_SJ:
                          type: string
                          description: 위원회 경력
                        MONA_CD:
                          type: string
                          description: 국회의원코드
                        PROFILE_UNIT_CD:
                          type: string
                          description: 경력대수코드
                        PROFILE_UNIT_NM:
                          type: string
                          description: 경력대수
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nzpltgfqabtcpsmai:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: BILL_ID
      in: query
      required: false
      description: 의안ID
      schema:
        type: string
      example: BILL_ID='PRC_Z2Z1S0W8P1O8G2A3D1E0V2Q0X2X5J3'
    - name: BILL_NO
      in: query
      required: false
      description: 의안번호
      schema:
        type: string
      example: BILL_NO='CC0215'
    - name: AGE
      in: query
      required: true
      description: 대수
      schema:
        type: string
      example: AGE='21'
    - name: BILL_NAME
      in: query
      required: false
      description: 의안명
      schema:
        type: string
      example: BILL_NAME='의안명 검색어'  (예시) BILL_NAME=80년대
    - name: PROPOSER
      in: query
      required: false
      description: 제안자
      schema:
        type: string
      example: PROPOSER='제안자 검색어'  (예시) PROPOSER=2012년
    - name: PROPOSER_KIND
      in: query
      required: false
      description: 제안자구분
      schema:
        type: string
      example: PROPOSER_KIND='정부'
    - name: PROC_RESULT_CD
      in: query
      required: false
      description: 본회의심의결과
      schema:
        type: string
      example: PROC_RESULT_CD='본회의심의결과 검색어'  (예시) PROC_RESULT_CD=원안가결
    - name: CURR_COMMITTEE_ID
      in: query
      required: false
      description: 소관위코드
      schema:
        type: string
      example: CURR_COMMITTEE_ID='B002368'
    - name: CURR_COMMITTEE
      in: query
      required: false
      description: 소관위
      schema:
        type: string
      example: CURR_COMMITTEE='소관위 검색어'  (예시) CURR_COMMITTEE=2002
    get:
      operationId: get_법률안_심사_및_처리처리의안
      summary: 법률안 심사 및 처리(처리의안)
      description: '**법률안 심사 및 처리(처리의안)**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2019-11-04


        최종 수정일자: 2024-10-11


        원본시스템: 의안정보시스템


        공개주기: 수시


        공개시기: 상시


        검색태그: 법률안,심사,처리,의안


        설명: 법률안 심사 및 처리 결과 중 처리의안 정보를 제공합니다.


        API ID: OM5S9O0009857U12121'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        BILL_ID:
                          type: string
                          description: 의안ID
                        BILL_NO:
                          type: string
                          description: 의안번호
                        AGE:
                          type: string
                          description: 대수
                        BILL_NAME:
                          type: string
                          description: 의안명
                        PROPOSER:
                          type: string
                          description: 제안자
                        PROPOSER_KIND:
                          type: string
                          description: 제안자구분
                        PROPOSE_DT:
                          type: string
                          description: 제안일
                        PROC_RESULT_CD:
                          type: string
                          description: 본회의심의결과
                        CURR_COMMITTEE_ID:
                          type: string
                          description: 소관위코드
                        CURR_COMMITTEE:
                          type: string
                          description: 소관위
                        COMMITTEE_DT:
                          type: string
                          description: 소관위회부일
                        PROC_DT:
                          type: string
                          description: 의결일
                        LINK_URL:
                          type: string
                          description: 의안상세정보_URL
                        LAW_SUBMIT_DT:
                          type: string
                          description: 법사위회부일
                        LAW_PRESENT_DT:
                          type: string
                          description: 법사위상정일
                        LAW_PROC_DT:
                          type: string
                          description: 법사위처리일
                        CMT_PROC_RESULT_CD:
                          type: string
                          description: 소관위처리결과
                        LAW_PROC_RESULT_CD:
                          type: string
                          description: 법사위처리결과
                        CMT_PRESENT_DT:
                          type: string
                          description: 소관위상정일
                        CMT_PROC_DT:
                          type: string
                          description: 소관위처리일
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nedjqrnlavrvcycue:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: ORD_NO
      in: query
      required: false
      description: 대수
      schema:
        type: string
      example: ORD_NO='제10대'
    - name: PLPT_NM
      in: query
      required: false
      description: 정당 / 단체
      schema:
        type: string
      example: ''
    get:
      operationId: get_역대_정당별_국회의원_선거결과
      summary: 역대 정당별 국회의원 선거결과
      description: '**역대 정당별 국회의원 선거결과**


        요청제한: 제한없음


        분류 체계: 국회의원>역대 국회 정보


        공개일자: 2019-10-23


        최종 수정일자: 2023-09-11


        공개주기: 4년


        검색태그: 역대,정당,단체,득표


        설명: 역대 정당별 득표율, 의석수, 비례대표수 정보를 제공합니다.


        API ID: O7FHUO000928X018370'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        ORD_NO:
                          type: string
                          description: 대수
                        PLPT_NM:
                          type: string
                          description: 정당 / 단체
                        NFVP_RT:
                          type: string
                          description: 득표율
                        PLMST_PSNCNT:
                          type: string
                          description: 의석수
                        PRPRR_PSNCNT:
                          type: string
                          description: 비례대표수
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /BILLCNTPRPSR:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: ERACO
      in: query
      required: true
      description: 대수
      schema:
        type: string
      example: ERACO='제21대'
    get:
      operationId: get_처리_의안통계발의주체별_법률안
      summary: 처리 의안통계(발의주체별 법률안)
      description: '**처리 의안통계(발의주체별 법률안)**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2023-12-01


        최종 수정일자: 2025-07-02


        원본시스템: 국회홈페이지


        공개주기: 수시


        검색태그: 의안,통계,발의,법률안


        설명: 처리 의안통계(발의주체별 법률안) 정보를 제공합니다.


        API ID: OOWY4R001216HX11477'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        PRPSR_DIV_NM:
                          type: string
                          description: 발의자구분명
                        RCP_CNT:
                          type: string
                          description: 접수건수
                        PROC_CNT:
                          type: string
                          description: 처리건수
                        REFT_SUBT:
                          type: string
                          description: 반영소계
                        OBIL_PSSG_CNT:
                          type: string
                          description: 원안가결건수
                        AMND_PSSG_CNT:
                          type: string
                          description: 수정안가결건수
                        ALTPL_REFT_CNT:
                          type: string
                          description: 대안반영건수
                        AMND_REFT_CNT:
                          type: string
                          description: 수정안반영건수
                        UN_REFT_SUBT:
                          type: string
                          description: 미반영소계
                        RJCTN_CNT:
                          type: string
                          description: 부결건수
                        DSU_CNT:
                          type: string
                          description: 폐기건수
                        WTHD_CNT:
                          type: string
                          description: 철회건수
                        GVB_CNT:
                          type: string
                          description: 반려건수
                        ETC_CNT:
                          type: string
                          description: 기타건수
                        RSVT_CNT:
                          type: string
                          description: 보류건수
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /npfoswpxawimahqlt:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: ARTICLE_TITLE
      in: query
      required: false
      description: 제목
      schema:
        type: string
      example: ARTICLE_TITLE='제목 검색어'  (예시) ARTICLE_TITLE=국민의
    - name: RE_DT
      in: query
      required: false
      description: 관람예약
      schema:
        type: string
      example: RE_DT='2020-01-06 (월) ~ 2020-01-15 (수)'
    - name: DT
      in: query
      required: false
      description: 일시
      schema:
        type: string
      example: DT='2021-12-02(목) 09:00 ~ 2021-12-28(화) 18:00'
    - name: ETC_CHAR11
      in: query
      required: false
      description: 장소
      schema:
        type: string
      example: ETC_CHAR11='장소 검색어'  (예시) ETC_CHAR11=의원회관
    get:
      operationId: get_국회문화극장_공연_일정
      summary: 국회문화극장 공연 일정
      description: '**국회문화극장 공연 일정**


        요청제한: 제한없음


        분류 체계: 주제별 공개>국민참여


        공개일자: 2019-11-05


        최종 수정일자: 2025-07-02


        원본시스템: 국회문화행사


        공개주기: 수시


        공개시기: 상시


        검색태그: 문화,행사,공연


        설명: 국회에서 주최하는 공연 관련 정보를 제공합니다.


        API ID: OSKTB0000948E917810'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        ARTICLE_TITLE:
                          type: string
                          description: 제목
                        RE_DT:
                          type: string
                          description: 관람예약
                        DT:
                          type: string
                          description: 일시
                        ETC_CHAR11:
                          type: string
                          description: 장소
                        LINK_URL:
                          type: string
                          description: 링크주소
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nzivskufaliivfhpb:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: ERACO
      in: query
      required: false
      description: 대수
      schema:
        type: string
      example: ERACO='대수 검색어'  (예시) ERACO=10대
    get:
      operationId: get_역대_의안_통계
      summary: 역대 의안 통계
      description: '**역대 의안 통계**


        요청제한: 제한없음


        분류 체계: 국회의원>역대 국회 정보


        공개일자: 2019-10-23


        최종 수정일자: 2023-09-13


        공개주기: 4년


        검색태그: 역대국회,국회의안,의안표결,표결,의안현황,역대국회의안현황,역대,의안,현황


        설명: 제헌국회부터 현재까지 역대 국회 의안 관련 통계 정보를 제공합니다.


        API ID: OKAPKX000929X915616'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        ERACO:
                          type: string
                          description: 대수
                        SBM:
                          type: string
                          description: 제출(건)
                        DEAL_CN_PSSG:
                          type: string
                          description: 가결(건)
                        DEAL_CN_RJCTN:
                          type: string
                          description: 부결(건)
                        DEAL_CN_DSU:
                          type: string
                          description: 폐기(건)
                        DEAL_CN_WTHD:
                          type: string
                          description: 철회(건)
                        DEAL_CN_GVB:
                          type: string
                          description: 반려(건)
                        DEAL_CN_RSVT:
                          type: string
                          description: 보류(건)
                        TERM_EXPR_DSU:
                          type: string
                          description: 임기만료폐기(건)
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /ncwgseseafwbuheph:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: TITLE
      in: query
      required: false
      description: 회의명
      schema:
        type: string
      example: TITLE='제10대국회 제101회 0차 국회본회의  1979년 03월 19일 '
    - name: CLASS_NAME
      in: query
      required: false
      description: 회의종류명
      schema:
        type: string
      example: CLASS_NAME='회의종류명 검색어'  (예시) CLASS_NAME=특별위원
    - name: DAE_NUM
      in: query
      required: true
      description: 대수
      schema:
        type: string
      example: DAE_NUM='21'
    - name: COMM_NAME
      in: query
      required: false
      description: 위원회명
      schema:
        type: string
      example: COMM_NAME='위원회명 검색어'  (예시) COMM_NAME=2002
    - name: CONF_DATE
      in: query
      required: true
      description: 회의날짜
      schema:
        type: string
      example: CONF_DATE='회의날짜 검색어'  (예시) CONF_DATE=2021
    - name: SUB_NAME
      in: query
      required: false
      description: 안건명
      schema:
        type: string
      example: ''
    - name: DEPT_CD
      in: query
      required: false
      description: 위원회코드
      schema:
        type: string
      example: DEPT_CD='B002407'
    get:
      operationId: get_위원회_회의록
      summary: 위원회 회의록
      description: '**위원회 회의록**


        요청제한: 제한없음


        분류 체계: 의정활동별 공개>위원회 정보


        공개일자: 2019-11-18


        최종 수정일자: 2025-07-02


        원본시스템: 회의록시스템


        공개주기: 수시


        공개시기: 상시


        검색태그: 위원회,회의록


        설명: 국회상임위원회 및 특별위원회별 회의록 정보를 제공합니다.


        API ID: OR137O001023MZ19321'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        CONFER_NUM:
                          type: string
                          description: 회의번호
                        TITLE:
                          type: string
                          description: 회의명
                        CLASS_NAME:
                          type: string
                          description: 회의종류명
                        DAE_NUM:
                          type: string
                          description: 대수
                        COMM_NAME:
                          type: string
                          description: 위원회명
                        VODCOMM_CODE:
                          type: string
                          description: 영상회의록
                        CONF_DATE:
                          type: string
                          description: 회의날짜
                        SUB_NAME:
                          type: string
                          description: 안건명
                        VOD_LINK_URL:
                          type: string
                          description: 영상회의록 링크
                        CONF_LINK_URL:
                          type: string
                          description: 요약정보 팝업
                        PDF_LINK_URL:
                          type: string
                          description: PDF파일 링크
                        PDF_FILE_ID:
                          type: string
                          description: 회의록
                        DEPT_CD:
                          type: string
                          description: 위원회코드
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nkimylolanvseqagq:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: TH
      in: query
      required: false
      description: 대수
      schema:
        type: string
      example: ''
    - name: CLASS_ID
      in: query
      required: false
      description: 회의종류
      schema:
        type: string
      example: ''
    - name: CMIT_NM
      in: query
      required: false
      description: 위원회명
      schema:
        type: string
      example: ''
    get:
      operationId: get_회의록_대별_위원회_목록
      summary: 회의록 대별 위원회 목록
      description: '**회의록 대별 위원회 목록**


        요청제한: 제한없음


        분류 체계: 의정활동별 공개


        공개일자: 2025-04-09


        최종 수정일자: 2025-07-02


        원본시스템: 스마트회의록


        공개주기: 매일


        검색태그: 회의록,대,위원회, 소위원회


        설명: 회의록 대별 위원회 코드 정보를 제공합니다.


        API ID: OU8JBT0015343C14378'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        TH:
                          type: string
                          description: 대수
                        CLASS_ID:
                          type: string
                          description: 회의종류
                        CLASS_NM:
                          type: string
                          description: 회의종류명
                        CMIT_NM:
                          type: string
                          description: 위원회명
                        CMIT_CD:
                          type: string
                          description: 위원회코드
                        SUB_CMIT_CD:
                          type: string
                          description: 소위원회코드
                        SUB_CMIT_NM:
                          type: string
                          description: 소위원회명
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /INVESTREPORTRESULT:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: BILL_NM
      in: query
      required: false
      description: 의안명
      schema:
        type: string
      example: BILL_NM='의안명 검색어'  (예시) BILL_NM=용산
    get:
      operationId: get_국정조사_결과보고서
      summary: 국정조사 결과보고서
      description: '**국정조사 결과보고서**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2023-12-01


        최종 수정일자: 2025-07-02


        원본시스템: 국회홈페이지


        공개주기: 수시


        검색태그: 국정,조사,결과,보고서


        설명: 국정조사 결과보고서의 정보를 제공합니다.


        API ID: OOWY4R001216HX11418'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        ERACO:
                          type: string
                          description: 대수
                        BILL_ID:
                          type: string
                          description: 의안ID
                        BILL_NO:
                          type: string
                          description: 의안번호
                        BILL_NM:
                          type: string
                          description: 의안명
                        PPSL_DT:
                          type: string
                          description: 제안일
                        RGS_PRSNT_DT:
                          type: string
                          description: 본회의 심의 상정일
                        RGS_RSLN_DT:
                          type: string
                          description: 본회의 심의 의결일
                        HWP_DWLD_URL:
                          type: string
                          description: PDF 다운 URL
                        PDF_DWLD_URL:
                          type: string
                          description: HWP 다운 URL
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /ngqoyjbkaxutcpmot:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: PRDC_YM
      in: query
      required: false
      description: 생산년월
      schema:
        type: string
      example: PRDC_YM='생산년월 검색어'  (예시) PRDC_YM=2021
    - name: OPB_FL_NM
      in: query
      required: false
      description: 공개파일명
      schema:
        type: string
      example: OPB_FL_NM='공개파일명 검색어'  (예시) OPB_FL_NM=2011년
    get:
      operationId: get_국회도서관_업무추진비_집행현황
      summary: 국회도서관 업무추진비 집행현황
      description: '**국회도서관 업무추진비 집행현황**


        요청제한: 제한없음


        분류 체계: 주제별 공개>행정>기획·조정


        공개일자: 2019-12-10


        최종 수정일자: 2025-06-30


        공개주기: 매월


        공개시기: 20일


        검색태그: 국회도서관,국회도서관장,부서장,실장,국장,업무추진비


        설명: 국회도서관 실·국장급 부서장 업무추진비 집행내역 정보를 제공합니다.


        API ID: OTA0YC001127RJ11880'
      tags:
      - 국회도서관
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        PRDC_YM_NM:
                          type: string
                          description: 생산년월
                        OPB_FL_NM:
                          type: string
                          description: 공개파일명
                        INST_CD:
                          type: string
                          description: 기관코드
                        INST_NM:
                          type: string
                          description: 기관명
                        OPB_FL_PH:
                          type: string
                          description: 공개파일경로
                        FILE_ID:
                          type: string
                          description: 파일ID
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /ntmgtbxwaqrkrklzn:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: PRDC_YM_NM
      in: query
      required: false
      description: 생산년월
      schema:
        type: string
      example: PRDC_YM_NM='생산년월 검색어'  (예시) PRDC_YM_NM=2021년
    - name: OPB_FL_NM
      in: query
      required: false
      description: 공개파일명
      schema:
        type: string
      example: OPB_FL_NM='공개파일명 검색어'  (예시) OPB_FL_NM=2013.1-2015.11
    get:
      operationId: get_국회사무처_정보목록
      summary: 국회사무처 정보목록
      description: '**국회사무처 정보목록**


        요청제한: 제한없음


        분류 체계: 주제별 공개>국민참여>국회 민원


        공개일자: 2019-12-10


        최종 수정일자: 2025-04-25


        공개주기: 분기


        공개시기: 1·4·7·10월


        검색태그: 문서목록,정보목록


        설명: 국회사무처가 보유ㆍ관리하는 정보에 대하여 문서제목, 담당자, 보존기간, 공개구분 등이 포함된 정보목록을 파일로 제공합니다.


        API ID: O71AP8001122ZZ10743'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        PRDC_YM_NM:
                          type: string
                          description: 생산년월
                        OPB_FL_NM:
                          type: string
                          description: 공개파일명
                        INST_CD:
                          type: string
                          description: 기관코드
                        INST_NM:
                          type: string
                          description: 기관명
                        OPB_FL_PH:
                          type: string
                          description: 공개파일경로
                        FILE_ID:
                          type: string
                          description: 첨부파일ID
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nohgwtzsamojdozky:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: BILL_ID
      in: query
      required: false
      description: 의안 ID
      schema:
        type: string
      example: BILL_ID='PRC_Z2Z1Z0Z3X2L4M0H9A2V6K5R0V7P2H1'
    - name: BILL_NO
      in: query
      required: false
      description: 의안번호
      schema:
        type: string
      example: BILL_NO='2113452'
    - name: BILL_NAME
      in: query
      required: false
      description: 법률안명
      schema:
        type: string
      example: BILL_NAME='법률안명 검색어'  (예시) BILL_NAME=10·16부마민주항쟁유공자예우
    - name: AGE
      in: query
      required: true
      description: 대
      schema:
        type: string
      example: AGE='21'
    - name: PROPOSER_KIND_CD
      in: query
      required: false
      description: 제안자구분
      schema:
        type: string
      example: PROPOSER_KIND_CD='정부'
    - name: PROPOSER
      in: query
      required: false
      description: 제안자
      schema:
        type: string
      example: PROPOSER='제안자 검색어'  (예시) PROPOSER=강기윤의원
    - name: CURR_COMMITTEE
      in: query
      required: false
      description: 소관위원회
      schema:
        type: string
      example: CURR_COMMITTEE='소관위원회 검색어'  (예시) CURR_COMMITTEE=공무원연금개혁
    - name: CURR_COMMITTEE_ID
      in: query
      required: false
      description: 소관위ID
      schema:
        type: string
      example: CURR_COMMITTEE_ID='9700514'
    get:
      operationId: get_종료된_입법예고
      summary: 종료된 입법예고
      description: '**종료된 입법예고**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2019-11-06


        최종 수정일자: 2025-07-02


        원본시스템: 입법예고시스템


        공개주기: 수시


        공개시기: 상시


        검색태그: 종료,입법,예고


        설명: 위원회에 회부된 법률안을 심사하기 전에 위원장이 법률안의 입법취지와 주요 내용과 관련된 종료된 입법예고 정보를 제공합니다.


        API ID: OF8AJV000972OP11430'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        BILL_ID:
                          type: string
                          description: 의안 ID
                        BILL_NO:
                          type: string
                          description: 의안번호
                        BILL_NAME:
                          type: string
                          description: 법률안명
                        AGE:
                          type: string
                          description: 대
                        PROPOSER_KIND_CD:
                          type: string
                          description: 제안자구분
                        PROPOSER:
                          type: string
                          description: 제안자
                        CURR_COMMITTEE:
                          type: string
                          description: 소관위원회
                        NOTI_ED_DT:
                          type: string
                          description: 게시종료일
                        LINK_URL:
                          type: string
                          description: 링크주소
                        CURR_COMMITTEE_ID:
                          type: string
                          description: 소관위ID
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /NABOPBLMDCSNREPORT:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: PBLM_TTL
      in: query
      required: false
      description: 발간물 제목
      schema:
        type: string
      example: PBLM_TTL='발간물 제목 검색어'  (예시) PBLM_TTL=나라살림
    get:
      operationId: get_토론회_결과보고서
      summary: 토론회 결과보고서
      description: '**토론회 결과보고서**


        요청제한: 제한없음


        분류 체계: 보고서ㆍ발간물


        공개일자: 2023-12-01


        최종 수정일자: 2025-07-02


        원본시스템: 국회홈페이지


        공개주기: 수시


        검색태그: 토론회,결과보고서


        설명: 토론회 결과보고서의 정보를 제공합니다.


        API ID: OOWY4R001216HX11432'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        PBLM_TTL:
                          type: string
                          description: 발간물 제목
                        WRT_DEPT:
                          type: string
                          description: 작성부서
                        WRT_DT:
                          type: string
                          description: 작성일
                        LINK_URL:
                          type: string
                          description: 링크URL
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nxjuyqnxadtotdrbw:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: BILL_ID
      in: query
      required: false
      description: 의안ID
      schema:
        type: string
      example: BILL_ID='PRC_Z2Z1S0W8P1O8G2A3D1E0V2Q0X2X5J3'
    - name: BILL_NO
      in: query
      required: false
      description: 의안번호
      schema:
        type: string
      example: BILL_NO='CC0215'
    - name: AGE
      in: query
      required: true
      description: 대수
      schema:
        type: string
      example: AGE='21'
    - name: BILL_NAME
      in: query
      required: false
      description: 의안명
      schema:
        type: string
      example: BILL_NAME='의안명 검색어'  (예시) BILL_NAME=10.27법난
    - name: PROPOSER
      in: query
      required: false
      description: 제안자
      schema:
        type: string
      example: PROPOSER='제안자 검색어'  (예시) PROPOSER=2012년
    - name: PROPOSER_KIND
      in: query
      required: false
      description: 제안자구분
      schema:
        type: string
      example: PROPOSER_KIND='제안자구분 검색어'  (예시) PROPOSER_KIND=정부
    - name: PROPOSE_DT
      in: query
      required: false
      description: 제안일
      schema:
        type: string
      example: PROPOSE_DT='2021-11-10'
    - name: PROC_RESULT_CD
      in: query
      required: false
      description: 본회의심의결과
      schema:
        type: string
      example: PROC_RESULT_CD='본회의심의결과 검색어'  (예시) PROC_RESULT_CD=원안가결
    - name: CURR_COMMITTEE_ID
      in: query
      required: false
      description: 소관위코드
      schema:
        type: string
      example: CURR_COMMITTEE_ID='B002368'
    - name: CURR_COMMITTEE
      in: query
      required: false
      description: 소관위
      schema:
        type: string
      example: CURR_COMMITTEE='소관위 검색어'  (예시) CURR_COMMITTEE=2002
    - name: COMMITTEE_DT
      in: query
      required: false
      description: 소관위회부일
      schema:
        type: string
      example: COMMITTEE_DT='2021-07-27'
    - name: PROC_DT
      in: query
      required: false
      description: 의결일
      schema:
        type: string
      example: PROC_DT='의결일 검색어'  (예시) PROC_DT=2021
    get:
      operationId: get_법률안_심사_및_처리최근_본회의처리_의안
      summary: 법률안 심사 및 처리(최근 본회의처리 의안)
      description: '**법률안 심사 및 처리(최근 본회의처리 의안)**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2019-11-04


        최종 수정일자: 2024-10-11


        원본시스템: 의안정보시스템


        공개주기: 매년


        공개시기: 상시


        검색태그: 법률안,심사,처리,본회의


        설명: 법률안 심사 및 처리 결과 중 최근 본회의처리 의안 정보를 제공합니다.


        API ID: OS18DL000970OU13480'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        BILL_ID:
                          type: string
                          description: 의안ID
                        BILL_NO:
                          type: string
                          description: 의안번호
                        AGE:
                          type: string
                          description: 대수
                        BILL_NAME:
                          type: string
                          description: 의안명
                        PROPOSER:
                          type: string
                          description: 제안자
                        PROPOSER_KIND:
                          type: string
                          description: 제안자구분
                        PROPOSE_DT:
                          type: string
                          description: 제안일
                        PROC_RESULT_CD:
                          type: string
                          description: 본회의심의결과
                        CURR_COMMITTEE_ID:
                          type: string
                          description: 소관위코드
                        CURR_COMMITTEE:
                          type: string
                          description: 소관위
                        COMMITTEE_DT:
                          type: string
                          description: 소관위회부일
                        PROC_DT:
                          type: string
                          description: 의결일
                        LINK_URL:
                          type: string
                          description: 의안상세정보 URL
                        LAW_SUBMIT_DT:
                          type: string
                          description: 법사위회부일
                        LAW_PRESENT_DT:
                          type: string
                          description: 법사위상정일
                        LAW_PROC_DT:
                          type: string
                          description: 법사위처리일
                        CMT_PROC_RESULT_CD:
                          type: string
                          description: 소관위처리결과
                        LAW_PROC_RESULT_CD:
                          type: string
                          description: 법사위처리결과
                        CMT_PRESENT_DT:
                          type: string
                          description: 소관위상정일
                        CMT_PROC_DT:
                          type: string
                          description: 소관위처리일
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nepfnxudavtvchtlu:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: V_TITLE
      in: query
      required: false
      description: 제목
      schema:
        type: string
      example: ''
    - name: URL_LINK
      in: query
      required: false
      description: 기사 URL
      schema:
        type: string
      example: ''
    get:
      operationId: get_국회뉴스ON_보좌진_이야기
      summary: 국회뉴스ON_보좌진 이야기
      description: '**국회뉴스ON_보좌진 이야기**


        요청제한: 제한없음


        분류 체계: 주제별 공개>언론·미디어·국회일정


        공개일자: 2019-11-05


        최종 수정일자: 2025-07-02


        원본시스템: 국회뉴스ON


        공개주기: 수시


        공개시기: 상시


        검색태그: 국회뉴스ON,뉴스,보좌진이야기


        설명: 바르고 공정한 국회소식인 국회뉴스ON의 "보좌진 이야기" 와 관련된 뉴스 정보를 제공합니다.


        API ID: O9KCDC000980U619570'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        V_TITLE:
                          type: string
                          description: 제목
                        URL_LINK:
                          type: string
                          description: 기사 URL
                        DATE_LASTMODIFIED:
                          type: string
                          description: 최종수정일
                        DATE_RELEASED:
                          type: string
                          description: 기사작성일
                        V_BODY:
                          type: string
                          description: 기사내용
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nzmimeepazxkubdpn:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: BILL_ID
      in: query
      required: false
      description: 의안ID
      schema:
        type: string
      example: BILL_ID='PRC_Z2Z1Z0Z3X2L4M0H9A2V6K5R0V7P2H1'
    - name: BILL_NO
      in: query
      required: false
      description: 의안번호
      schema:
        type: string
      example: BILL_NO='2113663'
    - name: BILL_NAME
      in: query
      required: false
      description: 법률안명
      schema:
        type: string
      example: ''
    - name: COMMITTEE
      in: query
      required: false
      description: 소관위원회
      schema:
        type: string
      example: COMMITTEE='소관위원회 검색어'  (예시) COMMITTEE=2012년
    - name: PROC_RESULT
      in: query
      required: false
      description: 본회의심의결과
      schema:
        type: string
      example: PROC_RESULT='대안반영폐기'
    - name: AGE
      in: query
      required: true
      description: 대수
      schema:
        type: string
      example: AGE='21'
    - name: PROPOSER
      in: query
      required: false
      description: 제안자
      schema:
        type: string
      example: PROPOSER='제안자 검색어'  (예시) PROPOSER=강경식의원
    - name: COMMITTEE_ID
      in: query
      required: false
      description: 소관위원회ID
      schema:
        type: string
      example: COMMITTEE_ID='9700516'
    get:
      operationId: get_국회의원_발의법률안
      summary: 국회의원 발의법률안
      description: '**국회의원 발의법률안**


        요청제한: 제한없음


        분류 체계: 국회의원>국회의원 현황 정보


        공개일자: 2019-11-04


        최종 수정일자: 2024-10-11


        원본시스템: 의안정보시스템


        공개주기: 수시


        공개시기: 상시


        검색태그: 의원,발의,법률


        설명: 국회의원별 대표발의법률안 정보를 제공합니다.


        API ID: OK7XM1000938DS17215'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        BILL_ID:
                          type: string
                          description: 의안ID
                        BILL_NO:
                          type: string
                          description: 의안번호
                        BILL_NAME:
                          type: string
                          description: 법률안명
                        COMMITTEE:
                          type: string
                          description: 소관위원회
                        PROPOSE_DT:
                          type: string
                          description: 제안일
                        PROC_RESULT:
                          type: string
                          description: 본회의심의결과
                        AGE:
                          type: string
                          description: 대수
                        DETAIL_LINK:
                          type: string
                          description: 상세페이지
                        PROPOSER:
                          type: string
                          description: 제안자
                        MEMBER_LIST:
                          type: string
                          description: 제안자목록링크
                        LAW_PROC_DT:
                          type: string
                          description: 법사위처리일
                        LAW_PRESENT_DT:
                          type: string
                          description: 법사위상정일
                        LAW_SUBMIT_DT:
                          type: string
                          description: 법사위회부일
                        CMT_PROC_RESULT_CD:
                          type: string
                          description: 소관위처리결과
                        CMT_PROC_DT:
                          type: string
                          description: 소관위처리일
                        CMT_PRESENT_DT:
                          type: string
                          description: 소관위상정일
                        COMMITTEE_DT:
                          type: string
                          description: 소관위회부일
                        PROC_DT:
                          type: string
                          description: 의결일
                        COMMITTEE_ID:
                          type: string
                          description: 소관위원회ID
                        PUBL_PROPOSER:
                          type: string
                          description: 공동발의자
                        LAW_PROC_RESULT_CD:
                          type: string
                          description: 법사위처리결과
                        RST_PROPOSER:
                          type: string
                          description: 대표발의자
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nhllwdafacadantme:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: GUBUN
      in: query
      required: false
      description: 구분
      schema:
        type: string
      example: GUBUN='구분 검색어'  (예시) GUBUN=14대
    - name: YEAR
      in: query
      required: false
      description: 연도
      schema:
        type: string
      example: YEAR='연도 검색어'  (예시) YEAR=00년
    get:
      operationId: get_연도별_연구단체_건수
      summary: 연도별 연구단체 건수
      description: '**연도별 연구단체 건수**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책>국회의원 연구단체


        공개일자: 2019-09-16


        최종 수정일자: 2025-06-13


        공개주기: 수시


        검색태그: 연구단체,단체수,등록현황


        설명: 대별, 연도별 연구단체수 현황 정보를 제공합니다.


        API ID: OC0RRQ000852J210654'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        GUBUN:
                          type: string
                          description: 구분
                        YEAR:
                          type: string
                          description: 연도
                        GROUP_CNT:
                          type: string
                          description: 단체수(개)
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nekcaiymatialqlxr:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: MEETINGSESSION
      in: query
      required: false
      description: 회기
      schema:
        type: string
      example: MEETINGSESSION='회기 검색어'  (예시) MEETINGSESSION=제391
    - name: CHA
      in: query
      required: false
      description: 차수
      schema:
        type: string
      example: CHA='차수 검색어'  (예시) CHA=제8차
    - name: TITLE
      in: query
      required: false
      description: 제목
      schema:
        type: string
      example: ''
    - name: MEETTING_DATE
      in: query
      required: false
      description: 일자
      schema:
        type: string
      example: MEETTING_DATE='2021-11-11'
    - name: UNIT_CD
      in: query
      required: true
      description: 대수
      schema:
        type: string
      example: UNIT_CD='100021'
    get:
      operationId: get_본회의_일정
      summary: 본회의 일정
      description: '**본회의 일정**


        요청제한: 제한없음


        분류 체계: 의정활동별 공개


        공개일자: 2019-11-20


        최종 수정일자: 2025-07-02


        원본시스템: 국회홈페이지


        공개주기: 수시


        공개시기: 상시


        검색태그: 본회의,일정,회기,차수


        설명: 국회 본회의 의사일정 정보를 제공합니다.


        API ID: ORDPSW001070QH19059'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        MEETINGSESSION:
                          type: string
                          description: 회기
                        CHA:
                          type: string
                          description: 차수
                        TITLE:
                          type: string
                          description: 제목
                        MEETTING_DATE:
                          type: string
                          description: 일자
                        MEETTING_TIME:
                          type: string
                          description: 일시
                        LINK_URL:
                          type: string
                          description: 링크주소
                        UNIT_CD:
                          type: string
                          description: 대수
                        UNIT_NM:
                          type: string
                          description: 대수
                        CONTS:
                          type: string
                          description: 안건정보
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /DIPLOMACYWORD:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: DPLM_WORD
      in: query
      required: false
      description: 의회외교 단어
      schema:
        type: string
      example: DPLM_WORD='의회외교 단어 검색어'  (예시) DPLM_WORD=1회비자
    get:
      operationId: get_의회외교_영문의회용어검색
      summary: 의회외교 영문의회용어검색
      description: '**의회외교 영문의회용어검색**


        요청제한: 제한없음


        분류 체계: 주제별 공개>의회외교


        공개일자: 2023-12-01


        최종 수정일자: 2025-07-02


        원본시스템: 국회홈페이지


        공개주기: 수시


        검색태그: 외교,영문,의회,용어


        설명: 의회외교 영문의회용어 정보를 제공합니다.


        API ID: OOWY4R001216HX11436'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        DPLM_WORD:
                          type: string
                          description: 의회외교 단어
                        DPLM_WORD_EN:
                          type: string
                          description: 의회외교 영문단어
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /BILLJUDGE:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: ERACO
      in: query
      required: false
      description: 대수
      schema:
        type: string
      example: ERACO='제18대'
    get:
      operationId: get_의안_심사정보예ㆍ결산_제외
      summary: 의안 심사정보(예ㆍ결산 제외)
      description: '**의안 심사정보(예ㆍ결산 제외)**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2023-12-01


        최종 수정일자: 2025-07-02


        원본시스템: 국회홈페이지


        공개주기: 수시


        검색태그: 의안,심사정보


        설명: 의안 심사정보(예ㆍ결산 제외) 정보를 제공합니다.


        API ID: OOWY4R001216HX11462'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        ERACO:
                          type: string
                          description: 대수
                        BILL_ID:
                          type: string
                          description: 의안ID
                        BILL_NO:
                          type: string
                          description: 의안번호
                        BILL_NM:
                          type: string
                          description: 의안명
                        PPSR_KIND:
                          type: string
                          description: 제안자구분
                        PPSL_DT:
                          type: string
                          description: 제안일
                        JRCMIT_NM:
                          type: string
                          description: 소관위원회명
                        BDG_CMMT_DT:
                          type: string
                          description: 소관위원회 회부일
                        JRCMIT_PRSNT_DT:
                          type: string
                          description: 소관위원회 상정일
                        JRCMIT_PROC_DT:
                          type: string
                          description: 소관위원회 처리일
                        JRCMIT_PROC_RSLT:
                          type: string
                          description: 소관위원회 처리결과
                        LINK_URL:
                          type: string
                          description: 링크URL
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nfvmtaqoaldzhobsw:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: YEAR
      in: query
      required: false
      description: 년도
      schema:
        type: string
      example: YEAR='2021'
    - name: ASBLM_NM
      in: query
      required: false
      description: 의원명
      schema:
        type: string
      example: ASBLM_NM='의원명 검색어'  (예시) ASBLM_NM=황희의원
    - name: UNIT_NM
      in: query
      required: false
      description: 대
      schema:
        type: string
      example: UNIT_NM='제20대'
    - name: RPT_TITLE
      in: query
      required: false
      description: 보고서제목
      schema:
        type: string
      example: RPT_TITLE='보고서제목 검색어'  (예시) RPT_TITLE=국정감사
    - name: UNIT_CD
      in: query
      required: true
      description: 대별코드
      schema:
        type: string
      example: UNIT_CD='100021'
    - name: QUARTER
      in: query
      required: false
      description: 분기
      schema:
        type: string
      example: QUARTER='4분기'
    - name: DIV_NM
      in: query
      required: false
      description: 구분명
      schema:
        type: string
      example: DIV_NM='정챙역상'
    get:
      operationId: get_국회의원_소규모_연구용역_결과보고서
      summary: 국회의원 소규모 연구용역 결과보고서
      description: '**국회의원 소규모 연구용역 결과보고서**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책>국회의원 입법 및 정책개발


        공개일자: 2019-09-16


        최종 수정일자: 2025-03-27


        공개주기: 분기


        공개시기: 1·4·7·10월


        검색태그: 의원,연구용역,보고서


        설명: 국회의원 소규모 연구용역 결과보고서 정보를 제공합니다.


        API ID: O8685D0008489413266'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        RPT_NO:
                          type: string
                          description: 다운로드
                        YEAR:
                          type: string
                          description: 년도
                        FILE_ID:
                          type: string
                          description: 파일ID
                        RPT_TITLE:
                          type: string
                          description: 보고서제목
                        RG_DE:
                          type: string
                          description: 등록일
                        UNIT_CD:
                          type: string
                          description: 대별코드
                        UNIT_NM:
                          type: string
                          description: 대
                        ASBLM_NM:
                          type: string
                          description: 의원명
                        QUARTER:
                          type: string
                          description: 분기
                        DIV_NM:
                          type: string
                          description: 구분명
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /nwbqublzajtcqpdae:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: BILL_ID
      in: query
      required: false
      description: 의안ID
      schema:
        type: string
      example: BILL_ID='PRC_Z2Z1Z0Z3X2L4M0H9A2V6K5R0V7P2H1'
    - name: BILL_NO
      in: query
      required: false
      description: 의안번호
      schema:
        type: string
      example: BILL_NO='2113663'
    - name: BILL_NAME
      in: query
      required: false
      description: 의안명
      schema:
        type: string
      example: BILL_NAME='의안명 검색어'  (예시) BILL_NAME=10·16부마민주항쟁유공자예우
    - name: PROPOSER
      in: query
      required: false
      description: 제안자
      schema:
        type: string
      example: PROPOSER='제안자 검색어'  (예시) PROPOSER=강기윤의원
    - name: PROPOSER_KIND
      in: query
      required: false
      description: 제안자구분
      schema:
        type: string
      example: PROPOSER_KIND='정부'
    - name: CURR_COMMITTEE_ID
      in: query
      required: false
      description: 소관위코드
      schema:
        type: string
      example: CURR_COMMITTEE_ID='9700513'
    - name: CURR_COMMITTEE
      in: query
      required: false
      description: 소관위
      schema:
        type: string
      example: CURR_COMMITTEE='소관위 검색어'  (예시) CURR_COMMITTEE=과학기술
    get:
      operationId: get_법률안_심사_및_처리계류의안
      summary: 법률안 심사 및 처리(계류의안)
      description: '**법률안 심사 및 처리(계류의안)**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2019-11-04


        최종 수정일자: 2024-10-11


        원본시스템: 의안정보시스템


        공개주기: 수시


        공개시기: 상시


        검색태그: 법률안,심사,처리,계류,의안


        설명: 법률안 심사 및 처리 결과 중 계류의안 정보를 제공합니다.


        API ID: OB61LZ000981FC12253'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        BILL_ID:
                          type: string
                          description: 의안ID
                        BILL_NO:
                          type: string
                          description: 의안번호
                        AGE:
                          type: string
                          description: 대수
                        BILL_NAME:
                          type: string
                          description: 의안명
                        PROPOSER:
                          type: string
                          description: 제안자
                        PROPOSER_KIND:
                          type: string
                          description: 제안자구분
                        PROPOSE_DT:
                          type: string
                          description: 제안일
                        CURR_COMMITTEE_ID:
                          type: string
                          description: 소관위코드
                        CURR_COMMITTEE:
                          type: string
                          description: 소관위
                        COMMITTEE_DT:
                          type: string
                          description: 소관위회부일
                        LINK_URL:
                          type: string
                          description: 의안상세정보_URL
                        CMT_PROC_DT:
                          type: string
                          description: 소관위처리일
                        CMT_PROC_RESULT_CD:
                          type: string
                          description: 소관위처리결과
                        RST_MONA_CD:
                          type: string
                          description: 대표발의자코드
                        LAW_PRESENT_DT:
                          type: string
                          description: 법사위상정일
                        LAW_PROC_DT:
                          type: string
                          description: 법사위처리일
                        LAW_PROC_RESULT_CD:
                          type: string
                          description: 법사위처리결과
                        RST_PROPOSER:
                          type: string
                          description: 대표발의자
                        CMT_PRESENT_DT:
                          type: string
                          description: 소관위상정일
                        LAW_SUBMIT_DT:
                          type: string
                          description: 법사위회부일
        '400':
          description: 잘못된 요청 파라미터
        '401':
          description: 인증 키 오류
        '500':
          description: 서버 내부 오류
  /TVBPMBILL11:
    parameters:
    - name: KEY
      in: query
      required: true
      description: 인증키
      schema:
        type: string
    - name: Type
      in: query
      required: true
      description: 응답 형식 (xml, json)
      schema:
        type: string
    - name: pIndex
      in: query
      required: true
      description: 페이지 번호
      schema:
        type: string
    - name: pSize
      in: query
      required: true
      description: 페이지 크기
      schema:
        type: string
    - name: BILL_ID
      in: query
      required: false
      description: 의안ID
      schema:
        type: string
      example: BILL_ID='PRC_Z2Z1Z0Z3X2L4M0H9A2V6K5R0V7P2H1'
    - name: BILL_NO
      in: query
      required: false
      description: 의안번호
      schema:
        type: string
      example: BILL_NO='2114286'
    - name: AGE
      in: query
      required: false
      description: 대
      schema:
        type: string
      example: AGE='21'
    - name: BILL_NAME
      in: query
      required: false
      description: 의안명(한글)
      schema:
        type: string
      example: BILL_NAME='의안명(한글) 검색어'  (예시) BILL_NAME="80년
    - name: PROPOSER
      in: query
      required: false
      description: 제안자
      schema:
        type: string
      example: PROPOSER='제안자 검색어'  (예시) PROPOSER=2012년
    - name: PROPOSER_KIND
      in: query
      required: false
      description: 제안자구분
      schema:
        type: string
      example: PROPOSER_KIND='정부'
    - name: CURR_COMMITTEE_ID
      in: query
      required: false
      description: 소관위코드
      schema:
        type: string
      example: CURR_COMMITTEE_ID='B002368'
    - name: CURR_COMMITTEE
      in: query
      required: false
      description: 소관위
      schema:
        type: string
      example: CURR_COMMITTEE='소관위 검색어'  (예시) CURR_COMMITTEE=2002
    - name: PROC_RESULT_CD
      in: query
      required: false
      description: 본회의심의결과
      schema:
        type: string
      example: PROC_RESULT_CD='회기불계속폐기'
    - name: PROC_DT
      in: query
      required: false
      description: 의결일
      schema:
        type: string
      example: PROC_DT='2021-12-31'
    get:
      operationId: get_법률안_심사_및_처리의안검색
      summary: 법률안 심사 및 처리(의안검색)
      description: '**법률안 심사 및 처리(의안검색)**


        요청제한: 제한없음


        분류 체계: 주제별 공개>정책


        공개일자: 2021-12-23


        최종 수정일자: 2024-10-11


        원본시스템: 의안정보시스템


        공개주기: 수시


        공개시기: 상시


        검색태그: 법률안,심사,처리,전체,의안


        설명: 법률안 심사 및 처리 결과를 제공합니다.


        API ID: O4K6HM0012064I15889'
      tags:
      - 국회사무처
      responses:
        '200':
          description: 성공
          content:
            application/xml:
              schema:
                type: object
                properties:
                  head:
                    type: object
                    properties:
                      list_total_count:
                        type: integer
                      r:
                        type: object
                        properties:
                          CODE:
                            type: string
                            example: INFO-000
                          MESSAGE:
                            type: string
                            example: 정상 처리되었습니다.
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        BILL_ID:
                          type: string
                          description: 의안ID
                        BILL_NO:
                          type: string
[...]
